Testing/
.cmake/
.ninja_deps
.ninja_log
.qtc_clangd/
.rcc/
CMakeCache*
CMakeFiles/
build.ninja
StaticGLEW_autogen/
graphics-final*
qtcsettings.cmake
CMakeLists.txt.user
libStaticGLEW.a
resources/.DS_Store
